# Before you start :
   - These exercises are related to the Pivot table and correlation lessons.
   - Keep in mind that you need to use some of the functions you learned in the previous lessons.
   - All datasets are provided in the `your-code` folder of this lab.
   - Elaborate your codes and outputs as much as you can.
   - Try your best to answer the questions and complete the tasks and most importantly enjoy the process!!!

#### Import all the libraries that are necessary.

In [17]:
import pandas as pd

#### Open the ` Employee.csv` file and name your dataset `employee`.

In [25]:
employee = pd.read_csv('Employee.csv')
employee

     Name Department Education Gender      Title  Years  Salary
0    Jose         IT  Bachelor      M    analyst      1      35
1   Maria         IT    Master      F    analyst      2      30
2   David         HR    Master      M    analyst      2      30
3   Sonia         HR  Bachelor      F    analyst      4      35
4  Samuel      Sales    Master      M  associate      3      55
5     Eva      Sales  Bachelor      F  associate      2      55
6  Carlos         IT    Master      M         VP      8      70
7   Pedro         IT       Phd      M  associate      7      60
8     Ana         HR    Master      F         VP      8      70

#### What's the mean salary by department?
Hint : There are 2 ways to do it - one way is with groupby and the other way is with pivot tables. Do it both ways.

In [55]:
# Method 1
# your answer here

employee.groupby(['Department']).agg({'Salary': 'mean'})

            Salary
Department
HR           45.00
IT           48.75
Sales        55.00

#### We want now to group the data by more than one column. Use Pandas pivot table function to select the mean salary by department and title.

In [80]:
# Method 2
avg_salary = employee.pivot_table(index= ['Department','Title'], values = ['Salary'], aggfunc = {'Salary':'mean'}).reset_index()
display(avg_salary)

  Department      Title  Salary
0         HR         VP    70.0
1         HR    analyst    32.5
2         IT         VP    70.0
3         IT    analyst    32.5
4         IT  associate    60.0
5      Sales  associate    55.0

#### We want to display the number of years of work experience and the salary for each Title. Add Years as a column in your pivot table.
*Hint: Use Pandas doc(see References in README.md) to explore the pivot_table() arguments*

In [79]:
# your answer here
employee.pivot_table(index= ['Title'], values = ['Salary','Years']).reset_index()
#employee.groupby('Department')['Salary'].mean()

       Title     Salary  Years
0         VP  70.000000   8.00
1    analyst  32.500000   2.25
2  associate  56.666667   4.00

#### We want to know the information about the mean salary and number of employees in each department and for each job title.

In [71]:
# your answer here
#Workers = employee['Department'].value_counts()
#Workers
#employee.pivot_table(index= ['Department'].value_counts(), values = ['Salary','Workers']).reset_index

pd.pivot_table(employee, index=['Title','Department'], aggfunc={'Salary': 'mean','Department':'value_counts'})

--

ValueError: Length of names must match number of levels in MultiIndex.

#### We want to know for each department and for each job title the Salary's median, minimum, maximum and standard deviation. Comment your results.

In [82]:
# your answer here
#employee.groupby(['Department']).agg({'Salary': 'mean','Salary':min,'Salary':max,'Salary':'std'})
#employee.pivot_table(index= ['Department'], aggfunc = ['max','mean', 'min','std'])
employee.pivot_table(index= ['Department','Title'], values = ['Salary'], aggfunc = ['median','sum','mean','min','max','std']).reset_index()

  Department      Title median    sum   mean    min    max       std
                        Salary Salary Salary Salary Salary    Salary
0         HR         VP   70.0     70   70.0     70     70       NaN
1         HR    analyst   32.5     65   32.5     30     35  3.535534
2         IT         VP   70.0     70   70.0     70     70       NaN
3         IT    analyst   32.5     65   32.5     30     35  3.535534
4         IT  associate   60.0     60   60.0     60     60       NaN
5      Sales  associate   55.0    110   55.0     55     55  0.000000

#### Based on your comments, fill the missing values with an appropriate value.

In [ ]:
#

#### The stake holders want to know for each department the number of employees and how much money is spend on salaries. Could you provide that information?

In [75]:
# your answer here
#pd.pivot_table(employee, index=['Title','Department'], aggfunc={'Salary': 'sum','Department':'nunique'})
#pd.pivot_table(employee, values='Salary', index='Department', columns = 'Title', aggfunc=pd.Series.nunique)

Title        VP  analyst  associate
Department
HR          1.0      2.0        NaN
IT          1.0      2.0        1.0
Sales       NaN      NaN        1.0

#### For each Department and Title, we want to know the the total years of work experience and the mean salary.

In [66]:
# your answer here
#employee.pivot_table(index= ['Department','Title'], values = ['Salary','Years'], aggfunc = ['median','sum','mean','min','max','std'])
employee.groupby(['Department','Title']).agg({'Salary': 'mean','Years':'sum'})

                      Salary  Years
Department Title
HR         VP           70.0      8
           analyst      32.5      6
IT         VP           70.0      8
           analyst      32.5      3
           associate    60.0      7
Sales      associate    55.0      5

### Bonus

#### We now want to compute the mean salary after removing the maxima for each Department. Create the appropriate pivot table.

Hint: Write a custom function.

In [ ]:
# your answer here